{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"><h1 class="title text-center" style="color:white">About Page</h1></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col"><h3 class="title text-center" style="color:white">this website saves your money</h3></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../static/images/notlegal.jpg" alt="" width="200px">
        </div>
    </div>
</div>
{% endblock %}