body {
background-image: url("../static/images/water6.jpg");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

body {
    overflow-x: hidden;
}

