{% extends 'base.html' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}


<a href="/" class="nav-link" style="color:white"> ⬅️ back</a>
<h1 style="color:white">Details about {{ game.title }}</h1>
<hr>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem; background-color: #2c3e50; color: white;">
            <img src="/static/images/{{ game.image }}" class="card-img-top" alt="Movie Poster Image">
            <div class="card-body">
                <h5 class="card-title" style="color:white">{{ game.title }}</h5>
                <p class="card-text" style="color:white">{{ game.release_year }}</p>
            </div>
        </div>
    </div>

    <div class="col">
        <h3 style="color:white">Game Reviews</h3>
        {% for review in reviews %}
        <p>{{ review.text }}</p>
        {% endfor %}
    </div>
</div>

<a href="/download/{{ game.filename }}" class="btn btn-success">
    ⬇️ Download Game
</a>


{% endblock %}

